 /* different ways to set color values-->*/ 
/*name value*/ 
body{
    background-color:slategrey;
}

#p1{
    color:tomato;
}
/*rgb-value*/ 
#p2{
    color:rgb(102,222,255)
}
/*hex value*/ 
#p3{
    color:#59ff5f;
}
/*hsl values*/ 
#p4{
    color:hsl(283,100%,64%)
}