/* '*'- astrick is used to appy property to all elements  */
* {
    box-sizing: border-box;
}  

.container{
    background-color: rgb(161, 159, 159);
    height: 100vh;     /*view-port height */ 
}

.box{
    background-color: white;
    border: 2px solid;
    padding: 25px;
 /* box-sizing: border-box;  /*when we calculate the hight/width we are allocating disregard any padding or borders, the box sizing property will take that into consideration */ 
    height: auto;
    width: 50%;
    float: left; /*dosn't do anything until we remove the border property as border takes some space as well */
    text-align: center;    

  /*  max-width: 25%;    /*even though earlier the width was set to 50%, this property changes the threshold*/ 
  /*  min-width: 75%;  */

    min-height: 50%;

} 