h1::first-letter{
    font-size: 2em;
    font-style:italic;
}
p::first-line{
    background-color:rgb(249, 249, 168);
}
/* when element/text gets selected*/
p::selection{
    color: grey;
    background-color: pink;
}

/*we can add something before list items
#fruit li::before{
    content: "✓";
} */
#apple::after{
    content:"🍎";
}
#orange::after{
    content:"🍊";
}
#banana::after{
    content:"🍌";
}
#fruit li::marker{
    content:"✓";
    color:green;
    font-size: 1.2em;
}